<% include ../partials/boilerplate %>
  <form method = 'POST' action='/tracklist/<%= id %>?_method=PUT'>
    <input name = 'track' type = 'text' value = '<%= listD.track %>'>
    <input name = 'artist' type = 'text' value = '<%= listD.artist %>'>
    <input name = 'album' type = 'text' value = '<%= listD.album %>'>
    <input name = 'genre_id' type = 'text' value = '<%= listD.genre_id %>'>
    <input type = 'submit' value = 'Edit Info'>
  </form>


<% include ../partials/end %>